include
lib
modules
*.mod
*.o
*.a
*.so
*.csv
*.pdf
sp3mm_test_serial
sp3mm_test_serial_reversed
sp3mm_test_omp_gustavson
sp3mm_test_omp_gustavson_reversed
sp3mm_test_omp_gustavson_1d
sp3mm_test_omp_gustavson_1d_reversed
sp3mm_test_serial_rb_tree
sp3mm_test_serial_rb_tree_reversed
sp3mm_test_omp_rb_tree
sp3mm_test_omp_rb_tree_reversed
sp3mm_test_omp_two_pass
sp3mm_test_omp_two_pass_reversed
.vscode
tests/runs/data/Matching
tests/runs/data/VanekBrezina
tests/runs/data/matrixGroups.list
Make.inc
gmon.out